{%- verbatim -%}
{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
  <div class="btn-toolbar pull-right">
    <div class="btn-group" role="group">
      {{ macro.buttonIcon(geturl('add'), 'plus-square', 'lbl.Add'|trans|ucfirst) }}
    </div>
  </div>
{% endblock %}

{% block content %}
  {# Main content of the page goes here #}
{% endblock %}
{%- endverbatim %}
