<?xml version="1.0" encoding="utf-8"?>
<locale>
  <Backend>
    <Core>
      <item type="label" name="Blog">
        <translation language="nl"><![CDATA[nieuws]]></translation>
        <translation language="fr"><![CDATA[actualités]]></translation>
        <translation language="en"><![CDATA[news]]></translation>
      </item>
      <item type="label" name="Articles">
        <translation language="nl"><![CDATA[nieuwsberichten]]></translation>
        <translation language="fr"><![CDATA[neuvelle]]></translation>
        <translation language="en"><![CDATA[news items]]></translation>
      </item>
      <item type="label" name="PublishedArticles">
        <translation language="nl"><![CDATA[gepubliceerde nieuwsberichten]]></translation>
        <translation language="fr"><![CDATA[nouvelles publiées]]></translation>
        <translation language="en"><![CDATA[published news items]]></translation>
      </item>
      <item type="label" name="RecentArticlesFull">
        <translation language="nl"><![CDATA[recente nieuwsberichten (volledig)]]></translation>
        <translation language="fr"><![CDATA[nouvelles récentes (complète)]]></translation>
        <translation language="en"><![CDATA[recent news items (full)]]></translation>
      </item>
      <item type="label" name="RecentArticlesList">
        <translation language="nl"><![CDATA[recente nieuwsberichten (lijst)]]></translation>
        <translation language="fr"><![CDATA[nouvelles récentes (liste)]]></translation>
        <translation language="en"><![CDATA[recent news items (list)]]></translation>
      </item>
      <item type="error" name="RSSTitle">
        <translation language="nl"><![CDATA[Nieuws RSS titel is nog niet ingevuld. <a href="%1$s">Configureer</a>]]></translation>
        <translation language="fr"><![CDATA[Le titre RSS des nouvelles n'a pas encore été rempli. <a href="%1$s">Configurer</a>]]></translation>
        <translation language="en"><![CDATA[News RSS title has not yet been filled in.<a href="%1$s">Configure</a>]]></translation>
      </item>
      <item type="message" name="HelpNickname">
        <translation language="nl"><![CDATA[De naam waaronder je wilt publiceren (bijvoorbeeld als auteur van een nieuwsbericht).]]></translation>
        <translation language="fr"><![CDATA[Le nom sous lequel vous souhaitez publier (par exemple comme l'auteur d'un article de nouvelles).]]></translation>
        <translation language="en"><![CDATA[The name under which you want to publish (for example as the author of a news item).]]></translation>
      </item>
    </Core>
    <Blog>
      <item type="label" name="Add">
        <translation language="nl"><![CDATA[nieuwsbericht toevoegen]]></translation>
        <translation language="fr"><![CDATA[ajouter une nouvelle]]></translation>
        <translation language="en"><![CDATA[add news item]]></translation>
      </item>
      <item type="message" name="Added">
        <translation language="nl"><![CDATA[Het nieuwsbericht "%1$s" werd toegevoegd.]]></translation>
        <translation language="fr"><![CDATA[L'article de nouvelles "%1$s" a été ajouté.]]></translation>
        <translation language="en"><![CDATA[The news item "%1$s" was added.]]></translation>
      </item>
      <item type="message" name="ArticlesFor">
        <translation language="nl"><![CDATA[Nieuwsberichten in "%1$s"]]></translation>
        <translation language="fr"><![CDATA[Nouvelles en "%1$s"]]></translation>
        <translation language="en"><![CDATA[News items in "%1$s"]]></translation>
      </item>
      <item type="message" name="ConfirmDelete">
        <translation language="nl"><![CDATA[Ben je zeker dat je het nieuwsbericht "%1$s" wil verwijderen?]]></translation>
        <translation language="fr"><![CDATA[Etes-vous sûr de vouloir effacer l'article de nouvelles "%1$s"?]]></translation>
        <translation language="en"><![CDATA[Are your sure you want to delete the news item "%1$s"?]]></translation>
      </item>
      <item type="message" name="Deleted">
        <translation language="nl"><![CDATA[De geselecteerde nieuwsberichten werden verwijderd.]]></translation>
        <translation language="fr"><![CDATA[Les neuvelles sélectionnées ont été effacés.]]></translation>
        <translation language="en"><![CDATA[The selected news items were deleted.]]></translation>
      </item>
      <item type="message" name="EditArticle">
        <translation language="nl"><![CDATA[bewerk nieuwsbericht "%1$s"]]></translation>
        <translation language="fr"><![CDATA[éditer l'article nouvelles "%1$s"]]></translation>
        <translation language="en"><![CDATA[edit news item "%1$s"]]></translation>
      </item>
      <item type="message" name="Edited">
        <translation language="nl"><![CDATA[Het nieuwsbericht "%1$s" werd opgeslagen.]]></translation>
        <translation language="fr"><![CDATA[L'article nouvelles "%1$s" a été enregistré.]]></translation>
        <translation language="en"><![CDATA[The news item "%1$s" was saved.]]></translation>
      </item>
      <item type="message" name="HelpMeta">
        <translation language="nl"><![CDATA[Toon de meta informatie van dit nieuwsbericht in de RSS feed (categorie)]]></translation>
        <translation language="fr"><![CDATA[Afficher les informations meta pour l'article nouvelles dans le flux RSS (catégorie)]]></translation>
        <translation language="en"><![CDATA[Show the meta information for this news item in the RSS feed (category)]]></translation>
      </item>
      <item type="message" name="HelpSummary">
        <translation language="nl"><![CDATA[Maak voor lange nieuwsberichten een inleiding of samenvatting. Die kan getoond worden op de homepage of het nieuwsbericht overzicht.]]></translation>
        <translation language="fr"><![CDATA[Rédigez une introduction pour les articles nouvelles longs. Elle sera affichée sur la homepage ou sur la vue d'ensemble de l'article nouvelles.]]></translation>
        <translation language="en"><![CDATA[Write an introduction or summary for long news items. It will be shown on the homepage or the news overview.]]></translation>
      </item>
      <item type="message" name="NoItems">
        <translation language="nl"><![CDATA[Er zijn nog geen nieuwsberichten. <a href="%1$s">Schrijf het eerste nieuwsbericht</a>.]]></translation>
        <translation language="fr"><![CDATA[il n'y a pas encore d'article nouvelles. <a href="%1$s">Ajouter le premier article nouvelles</a>.]]></translation>
        <translation language="en"><![CDATA[There are no news items yet. <a href="%1$s">Write the first news item</a>.]]></translation>
      </item>
      <item type="message" name="NumItemsInRecentArticlesFull">
        <translation language="nl"><![CDATA[Aantal items in recente nieuwsberichten (volledig) widget]]></translation>
        <translation language="fr"><![CDATA[Nombre d'articles nouvelles dans le widget nouvelles récentes (complet)]]></translation>
        <translation language="en"><![CDATA[Number of news items in the recent news items (full) widget]]></translation>
      </item>
      <item type="message" name="NumItemsInRecentArticlesList">
        <translation language="nl"><![CDATA[Aantal items in recente nieuwsbericht (lijst) widget]]></translation>
        <translation language="fr"><![CDATA[Nombre d'articles nouvelles dans le widget nouvelles récentes (liste)]]></translation>
        <translation language="en"><![CDATA[Number of articles in the recent news items (list) widget]]></translation>
      </item>
      <item type="message" name="ShowOnlyItemsInCategory">
        <translation language="nl"><![CDATA[Toon enkel nieuwsberichten in de categorie:]]></translation>
        <translation language="fr"><![CDATA[Afficher uniquement d'articles nouvelles pour la catégorie:]]></translation>
        <translation language="en"><![CDATA[Show only news items for the category:]]></translation>
      </item>
      <item type="error" name="RSSDescription">
        <translation language="nl"><![CDATA[Nieuws RSS beschrijving is nog niet ingevuld. <a href="%1$s">Configureer</a>]]></translation>
        <translation language="fr"><![CDATA[La description RSS des nouvelles n'a pas encore été rempli. <a href="%1$s">Configurer</a>]]></translation>
        <translation language="en"><![CDATA[News RSS description has not yet been filled in.<a href="%1$s">Configure</a>]]></translation>
      </item>
    </Blog>
  </Backend>
  <Frontend>
    <Core>
      <item type="label" name="Blog">
        <translation language="nl"><![CDATA[nieuws]]></translation>
        <translation language="fr"><![CDATA[actualités]]></translation>
        <translation language="en"><![CDATA[news]]></translation>
      </item>
      <item type="label" name="RecentArticles">
        <translation language="nl"><![CDATA[recente nieuwsberichten]]></translation>
        <translation language="fr"><![CDATA[nouvelles récentes]]></translation>
        <translation language="en"><![CDATA[recent news items]]></translation>
      </item>
      <item type="label" name="BlogArchive">
        <translation language="nl"><![CDATA[nieuwsarchief]]></translation>
        <translation language="fr"><![CDATA[archive des nouvelles]]></translation>
        <translation language="en"><![CDATA[news archive]]></translation>
      </item>
      <item type="message" name="BlogNoItems">
        <translation language="nl"><![CDATA[Er zijn nog geen nieuwsberichten.]]></translation>
        <translation language="fr"><![CDATA[il n'y a pas encore d'article nouvelles.]]></translation>
        <translation language="en"><![CDATA[There are no news items yet.]]></translation>
      </item>
      <item type="message" name="BlogAllComments">
        <translation language="nl"><![CDATA[Alle reacties op het nieuws]]></translation>
        <translation language="fr"><![CDATA[Tous les commentaires sur votre actualités]]></translation>
        <translation language="en"><![CDATA[All comments on your news.]]></translation>
      </item>
      <item type="message" name="ArticlesFor">
        <translation language="nl"><![CDATA[Nieuwsberichten voor %1$s]]></translation>
        <translation language="fr"><![CDATA[Nouvelles pour %1$s]]></translation>
        <translation language="en"><![CDATA[News items voor %1$s]]></translation>
      </item>
      <item type="label" name="ArticlesInCategory">
        <translation language="nl"><![CDATA[nieuwsberichten in de categorie]]></translation>
        <translation language="fr"><![CDATA[l'articles nouvelles pour la catégorie]]></translation>
        <translation language="en"><![CDATA[news items for the category]]></translation>
      </item>
    </Core>
  </Frontend>
</locale>
